*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  height: 100px;
  position: relative;
}
.navbar{
  display: flex;
  justify-content: space-between;
}
span{
  color: blue;
}
h1{
  color: black;
  line-height: 80px;
}
.menu{
  margin: 35px;
  font-size: 23px;
}
.menu ul{
  height: 85vh;
  width: 100vw;
  opacity: 0.7;
  background-color: black;
  color: white;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 10px;
}
.menu ul li{
  list-style: none;
  padding: 10px;
}
.menu ul li a{
  text-decoration: none;
  color: white;
  display: block;
  padding:10px
}
.menu:hover ul{
  display: block;
}
.heading h2{
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 100px;
}
.heading p{
  padding: 50px;
  line-height: 40px;
  padding-top: 10px;
}
.butt{
  height: 50px;
  width: 100px;
  border: 1px solid green;
  border-radius: 25px;
  margin: auto;
}
.butt button{
  border-radius: 23px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  background-color: green;
}
.content{
  height: 150px;
  width: 100%;
  margin-top: 100px;
  background-color: rgb(254,238,252);
  padding: 20px;
}
.pera{
  background-color: blue;
  padding-bottom: 30px;
  padding-top: 30px;
}
.box{
  background-color: rgb(228,252,254);
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 20px;
}
.box1{
  height: 300px;
  width: 300px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}
.box1 img{
  height: 70px;
  width: 70px;
  background-size: cover;
  margin: 20px;
}
.box1 p{
  padding: 20px 30px;
}
@media (min-width:700px){
.box{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
}
.client{
  margin-top: 100px;
  text-align: center;
}
.nline{
  height: 4px;
  margin-top: 70px;
  color: red;
}
.lorem{
  height: 200px;
  width: 320px;
  border: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(218,249,253);
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}
@media (min-width:700px){
.laram{
margin-top: 20px;
display: flex;
}
}
.love{
  padding: 15px;

}
.bocx{
  height: 70px;
  width: 70px;
  background-color: green;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 20px;
}
.lorem p{
  display: block;
  padding: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.graph{
  padding: 20px;
}
.Melissa{
  margin-bottom: 20px;
  text-align: center;
  
}
.Melissa button{
  height: 50px;
  width: 150px;
  text-align: center;
  background-color: green;
  margin: auto;
}
.noline{
  height: 3px;
  background-color: black;
  border: none;
}
img{
  width: 89%;
  margin: 40px 20px;
  border: 2px solid grey;
  border-radius: 10px;
}
.third{
  margin: 20px;
}
.third p{
  padding-top: 20px;
  line-height: 30px;
}
.black{
  height: ;
  width: 90%;
  margin: 40px auto;
  background-color: rgb(38,64,68);
  text-align: center;
  padding: 50px 30px 30px 30px;
  color: white;
}
.black p{
  padding: 10px;
}
.learn{
  background-color: green;
  padding: 10px;
  border: none;
margin: 20px;
}
.end{
  background-color: rgb(180,242,253);
  width: 90%;
  margin: 20px auto;
  padding: 15px 10px;
  border: 2px solid grey;
  border-radius: 10px;
}
.market{
}
.imeg{
  height: 300px;
  width: 300px;
  background-size: cover;
  background-image: url(img1.png);
}
.ipsum{
  background-color: white;
  color: black;
  height: 100%;
  padding: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ipsum button{
  border-radius: 20px;
  background-color: #45df63;
  color: white;
  font-size: 18px;
  padding:  8px 20px;
  margin-top: 20px;
  border: none;
}
footer{
  height: ;
  background-color: rgb(61,89,94);
}
footer h2{
  color: white;
}
footer p{
  color: rgb(214,225,227);
}
.client{
  padding-top: 120px;
}
.client p{
  padding-bottom: 60px;
}
.foot{
  text-align: center;
  padding-top: 20px;
  margin-top: 35px;
}
.foot h3{
  padding-top: 15px;
  color: white;
}
.foot p{
padding: 10px;
}
.foot ul{
  width: 60%;
  display: flex;
 justify-content: space-around;
  margin: auto;
  margin-bottom: 0px;
}
.foot ul li{
  list-style: none;
}
.foot ul li a{
  text-decoration: none;
}